<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <div>Username:</div>
        <div th:text="${user.getUsername()}"></div>
        <div>Authorities:</div>
        <div th:each="u:${user.getRoles()}">
            <div th:text="${u.getName()}"/>
        </div>
        <div>Age:</div>
        <div th:text="${user.getAge()}"></div>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Выйти</button>
        </form>
    </body>
</html>