<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div>Username:</div>
<div th:text="${user.getUsername()}"></div>
<div>Authorities:</div>
<div th:text="${user.getRoles()}"></div>
<div>Age:</div>
<div th:text="${user.getAge()}"></div>
<div sec:authorize="isAuthenticated()" >Виден только авторизованным пользователям</div>
<div th:if="${user.getAuthorities().contains('ADMIN')}">Это админ</div>

</body>
</html>